﻿@{
    ViewData["Title"] = "Home Page";
}

<canvas id="can1" width="400" height="400" style="position:absolute;top:10%;left:50%;border:2px solid;z-index:1"></canvas>
<canvas id="can2" width="400" height="400" style="position:absolute;top:10%;left:50%;border:2px solid;z-index:2"></canvas>
<div class="buttons">
    <button onclick="activePen=getPen()">Pen</button>
    <button onclick="activePen=getBlockMarker()">Marker (Block)</button>
    <button onclick="activePen=getCircleMarker()">Marker (Circle)</button></div>
<div class="buttons">
    <button onclick="transformLeft()"><</button>
    <button onclick="transformUp()">^</button>
    <button onclick="transformDown()">v</button>
    <button onclick="transformRight()">></button>
</div>
<script src="js/alchemyCanvas.js"></script>
<script type="text/javascript">
    init();
</script>