@section Scripts {
    <script src="~/js/Classes.js"></script>
    <script src="~/js/NoteApp.js"></script>
}

<h1>Eyy</h1>
<div id="noteapp">
    <input v-model="blub" type="text"/>
    <p>{{ blub }}</p>
</div>



